body {
    color: #777;
    font-family: 'Open Sans', Arial, 'Hiragino Sans GB', 'Helvetica Neue', 'Helvetica', 'Microsoft YaHei', '微软雅黑', sans-serif;
    font-weight: 300;
    margin: 6rem auto 1rem;
    max-width: 48rem;
    /*text-align: center;*/
  }
  
  h1 {
    border-bottom: 2px solid #fafafa;
    margin-bottom: 1.15rem;
    padding-bottom: .5rem;
    text-align: center;
  }
  
  img {
    margin: 0 auto;
    max-width: 100%;
  }
  
  a, a:visited {
    text-decoration: none;
    color: #6c5890;
  }
  
  a:hover, a:focus, a:active {
    color: #6c5890;
  }
  
  pre {
    background-color: #fafafa;
    padding: 1rem;
    text-align: left;
    overflow: auto;
  }
  
  blockquote {
    margin: 0;
    border-left: 5px solid #7a7a7a;
    font-style: italic;
    padding: 1.33em;
    text-align: left;
  }
  
  ul, ol, li {
    text-align: left;
  }
  
  p {
    color: #212121;
  }